.example_frame {
  width: 125%;
  height: 125%;
  -ms-zoom: .8;
  -moz-transform-origin: 0 0;
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(.8);
  -webkit-transform-origin: 0 0;
}


.knit_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.knit_border {
  display: block;
  border: solid black;
  margin-top: 10px;
  margin-bottom: 20px;
}

.big_window {
  width: 90%;
}

.med_window {
  width: 75%;
}

.small_window {
  width: 50%;
  margin-left: 0;
}



.rmd_example_outer {
  width: 100%;
}

.rmd_example_inner {
  width: 50%;
  float: left;
  height: 100%
}

.rmd_example_code {
  height: 100%
}


.rmd_example_result {
  background-color: lightyellow;
  border-style: dotted;
  border-width: 3px;
  border-color: #007fff;
  padding: 10px 20px;
  margin: 0px 0px 20px 0px;
  zoom: 1;
  -moz-transform: scale(1);
}